*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  body{
    background-image: url(bk3.jpg);
    

    height:100vh;
    background-size:cover ;
    background-position: center;
  
  }
  
  .me{
    
    float: left;
    
    list-style-type: none;
    margin-top: -20px;
    margin-left:5px ;
    color:whitesmoke;
  }
  .me h2{
    /*font-family: 'RuhaniyatDEMORegular';*/
    font-size:5vh ;
    font-family: Zapf Chancery, cursive;
  }
  
  ul{
    float: right;
    
    list-style-type: none;
    margin-top: -45px;
    align-items: right;
    margin-left: 55%;
  }
  ul li{
    display: inline-block;
  }
  ul li a{
    text-decoration:none ;
    color: #ffffff;
    padding: 20px 30px;
    
    transition:0.6s ease;
  }
  ul li a:hover{
    background-color: #ffffff;
    color: black;
    border-radius:30% ;
  
  }
  ul li.active a{
    background-color:#ffffff;
    color:#000;
    border-radius:30% ;
  }
  
  
  
  .main-home{
    max-width: 1200px;
    margin:auto ;
  }
  .title{
   
    position: absolute;
    top:45% ;
    left:50% ;
    transform: translate(-50%,-50%);
  }
  .title h1{
    color: #dfdfdf;
    font-size: 60px;
    left:40% ;
    text-shadow: 2px 2px;}

  .title p{
    position: absolute;
    left:5%;
    
      color: #dfdfdf;
      font-size: 20px;
     
  

  
  }
  .title logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    max-width:5px ;
    max-height:5px ;
  }


footer {
    width: 100%;
   
    bottom: 0;
 
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: 10px;
}




.list-footer {
    margin: 10px auto;
    display: flex;
    list-style-type: none;
   
}
.list-footer li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.list-footer li a:hover{color: var(--mycolor);}

.social-media {
    bottom: 0;
    margin: 1px auto;
   
    
}
.social-media i {
    padding: 20px;
    font-size: 25px;
    color: #fff;
}
.social-media i:hover{
    color: rgb(2,255,171);
}

.social-media-home {
  bottom: 0;
 
 padding-top: 450px;
 padding-bottom: 2px;
 
  
}
.social-media-home i {
  bottom: 0;
  padding: 20px;
  font-size: 25px;
  color: #fff;
}
.social-media-home i:hover{
  color: rgb(2,255,171);
}
.copyrights-home{
margin-left: 1%;
padding-top: 1px;
}

.copyrights-sub{
margin-left:-33%;

}


@media(max-width:810px){
    .text ,  footer input[type='email'] ,
    footer input[type='submit'] {
        font-size: 20px;
    }
    .list-footer li a {
        padding: 15px;
        font-size: 15px;
    }
    .social-media i {
        padding: 10px;
    }
}
@media(max-width:610px){
    .text ,  footer input[type='email'] ,
    footer input[type='submit'] {
        font-size: 14px;
    }
    .list-footer li a {
        padding: 10px;
        font-size: 12px;
    }
    .social-media i {
       font-size: 15px;
    }
}
@media(max-width:470px){
    .text {
        font-size: 12px;
    }
    .list-footer li a {
        padding: 5px;
    }
}
@media(max-width:330px){
    .text {
        font-size: 10px;
    }
}

/* ------------------------------------poetry----------------------------------------------*/

/* Center website */
.main-poetry{
    max-width: 1200px;
    margin:auto ;

}
  .main-poetry h1{
    padding-top:60px ;
    text-shadow: 2px 2px;
    padding-left: 40%;
    font-size: 50px;
    word-break: break-all;
    color: beige;
   
  }
  
  .main-poetry p{
    padding-left: 34.6%;  
    color: beige;  
  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 33%;


   
  }

  .row-c {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  
  
  .column-c{
    float: left;
    width:25%;
    padding:25px;
  
  


   
  }
  
  
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
   
    border-style: solid;
    border-color: antiquewhite;
    padding: 10px;
    transition:0.6s ease;
    
    overflow: hidden;
    

    position: relative;
  text-align: center;
  color: white;

}





.centered {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:50px ;
  font-weight: 2000 bolder;
  text-shadow: 4px 6px 8px #000, 
               3px 3px 3px goldenrod;
  
}

   
   .content:hover{
     transform: scale(1.1);
   }

   .content::before{
     content:"";
     transform: translateX(-100%);
     transition: all 0.4s;


   }

   .box:hover::before{
     transform: translateX(0);

   }


  
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }


/* -------------------------------about------------------------------*/


.about {
    max-width: 1200px;
    margin:auto ;

}

.about h1{
   
    text-shadow: 2px 2px;
   
    padding-top:60px ;
    padding-left: 40%;
    font-size: 50px;
    word-break: break-all;
    color: beige;
  }
  .about p{
    color: #ffffff;
   
   
    padding-left:36% ;
  }
  
  .aboutwritten{
    color: #ffffff;
    padding-left:6% ;
    padding-right: 4%;
    padding-top: 3%;
  
    
  
  
  }
  .aboutwritten p{
    color: #ffffff;
    margin-left:100px ;
    padding-left:20% ;
    padding-top: 0.5%;
  }

  .aboutwritten h2{
    color: #ffffff;
    margin-left:100px ;
    padding-left:20% ;
    padding-top: 0.5%;
  }
  
  .photo img{
  opacity: 0.7;
    
    height:450px;
    width: 350px;
 
    padding-left:-8% ;
    float:left ;
 
 
border-radius: 80%;
border-color: black;

border-width:15px;
border-style: groove;

-moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #fff;

  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
    
   
  }


  /*--------------------------------*/


  
  
  .container-c{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container-c:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/*background: url("im.webp") no-repeat center;*/
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;

  background: url("im.webp") no-repeat center;
  background-size: cover;

    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  
    border-radius: 10%;
}

.left{
	/*background: url("im.webp") no-repeat center;*/
	background-size: cover;
    height: 100%;
   
   
}

.left h2{
  text-shadow: 2px 2px;
  text-align: center;
  padding-top: 40px;
  font-size:50px ;
}

.left p{
  text-align: center;
 
  font-size:20px ;

}

.right{
	padding: 25px 40px;
}

.right h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.right h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color:black;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
  transition: .3s;
  border-radius: 10%;

}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 30%;
	padding: 0.5rem 1rem;
	background-color: grey;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
  transition: .3s;
  border-radius: 10%;
}

.btn:hover{
    background-color:whitesmoke;
    color: black;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}



/*----------------------------*/
.copyrights-pc{
  bottom: 0;
  margin: 1px auto;
  margin-left: 4%;
  padding-top:10px ;

}